* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    background-image: url(../img/Layer\ 8@1X.png);
    padding-top: 286px;
    padding-bottom: 115px;
}

.background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 902px;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.img1 {
    height: 69px;
    width: 65px;
    margin-bottom: 94px;
}

.text1 {
    font-size: 53px;
    text-transform: uppercase;
}

.text2 {
    font-size: 15px;
}

.box1 {
    margin-bottom: 53px;
}

.box2 {
    margin-bottom: 245px;
}

.img2 {
    height: 37px;
    width: 23px;
}

.about-us {
    background-color: white;
    padding-top: 160px;
    padding-bottom: 159px;
}

.box3 {
    width: 902px;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 53px;
}

.text3 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 64px;
}
.white {
    color: rgba(255, 255, 255, 255);
}
.black {
    color: rgba(60, 60, 60, 255);
}

.text4 {
    font-size: 16px;
}

.down {
    margin-bottom: 20px;
}
.down1 {
    margin-bottom: 109px;
}
.down2 {
        margin-bottom: 93px;
    }
.services {
    background-image: url(../img/Layer\ 4@1X.png);
    padding-top: 128px;
    padding-bottom: 109px;
}
.box5 {
    width: 899px;
    border: 1px solid white;
    padding-top: 30px;
    padding-bottom: 56px;
}
.what-we-do {
    background-color: white;
    padding-top: 105px;
    padding-bottom: 114px;
}
.box6 {
    width: 100%;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 56px;
}
.text5 {
font-size: 32px;
text-transform: uppercase;
margin-bottom: 37px;
}
.text6 {
    font-size: 14px;
}
.img3 {
    height: 80px;
    width: 83px;
    margin-bottom: 43px;
}
.img4 {
    height: 79px;
    width: 76px;
    margin-bottom: 38px;
}
.img5 {
    height: 91px;
    width: 79px;
    margin-bottom: 45px;
}
li {
    display: inline-block;
}
.heig {
    height: 237px;
}
.img6 {
    background-image: url(../img/Layer\ 5\ copy@1X.png);
    width: 20%;
    
}
.img7 {
    background-image: url(../img/Layer\ 5\ copy\ 3@1X.png);
    width: 45%;
}
.img8 {
    background-image: url(../img/Layer\ 5\ copy\ 2@1X.png);
    width: 34%;
    margin-right: -4px;
}
.img9 {
    background-image: url(../img/Layer\ 5\ copy\ 4@1X.png);
    width: 20%;
}
.img10 {
    background-image: url(../img/Layer\ 5\ copy\ 4@1X\ \(1\).png);
    width: 45%;
}
.img11 {
    background-image: url(../img/Layer\ 5\ copy\ 4@1X\ \(2\).png);
    width: 34%;
}
.contact-us {
    background-color: white;
    padding-top: 77px;
    margin-bottom: 77px;
}
.box7 {
    width: 100%;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 50px;
}
.but {
    width: 395px;
    height: 58px;
    background-color: black;
    font-size: 16px;
    color: white;
    border: none;
    text-transform: uppercase;
}
.img12 {
    height: 35px;
    width: 37px;
    display: inline-block;
}
.text7 {
    font-size: 14px;
    display: inline-block;
}
