

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.wrapper {
  max-width: 1212px;
  margin: auto;
}
header {
  background-color: #ffffff;
  padding-top: 28px;
  margin-bottom: 127px;
  font-family: "Montserrat", sans-serif;
}
.logo a {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  font-weight: 900;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu a {
  text-decoration: none;
  color: #95e1d3;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.menu li:not(:last-child) {
  margin-right: 55px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.menu a:hover {
  color: #f38181;
  border-bottom: 2px solid #f38181;
}
.services {
  background-color: #ffffff;
  margin-bottom: 92px;
}
.text1 {
  text-align: center;
  color: rgba(51, 51, 51, 255);
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 22px;
}
.text2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgba(51, 51, 51, 255);
  font-weight: 900;
  text-align: center;
}
.text2::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: block;
  margin: 42px auto 66px;
}
.bigBox {
  width: 100%;
}
.litBox {
  max-width: 329px;
  display: flex;
}
.box1 {
  display: inline-block;
}
.pic {
  margin-right: 29px;
}
.text3 {
  margin-bottom: 29px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 255);
}
.text4 {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(153, 153, 153, 255);
}
.bigBoxHalf {
  display: flex;
  justify-content: space-between;
}
.bigBoxHalf:not(:last-child) {
  margin-bottom: 101px;
}
.text5 {
  margin-bottom: 90px;
}
.center {
  text-align: center;
}
.team {
  margin-bottom: 82px;
}
.gallery {
  display: flex;
  justify-content: space-between;
}
.first {
  margin-bottom: 30px;
}
.text6 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 255);
}
.text7 {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  color: rgba(153, 153, 153, 255);
}
.first {
  position: relative;
  overflow: hidden;
}
.second {
  width: 383px;
  height: 473px;
  position: absolute;
  background-image: linear-gradient(to bottom, #f08c8a8c, #e7cf8193);
  top: -480px;
  left: -10px;
  transition: all 2s ease;
  padding-top: 200px;
}
.first:hover .second {
  transform: translateY(473px);
  transition: all 200ms linear;
  box-shadow: 10px 10px #95e1d3;
}
/* .first:hover { уточнить как сделать, чтоб 
    overflow: visible;
} */

.icons {
  display: flex;
  list-style: none;
  justify-content: center;
}
.icons li {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons li:hover {
  background-color: #95e1d3;
}
footer {
  padding-top: 10px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail {
  display: flex;
}
.write {
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: left;
  padding-left: 13px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(204, 204, 204, 255);
  font-style: italic;
  align-items: center;
  border: 1px solid #e7e7e7;
}
.send {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.contact span {
  color: #f59494;
}
.contact {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
