* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

header {
    padding: 28px 0 100px 0;
    background-image: linear-gradient(to bottom, #e98282ce, #f1db8ac2), url(../img/Layer\ 15@1X-min.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.wrapper {
        max-width: 480px;
        margin: auto;
    }
.style {
    color: white;
}
.header {
    width: 90%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        /* align-items: center; */
        margin-bottom: 80px;
    } 
.header_logo {
    
    text-align: center;
}
.header_menu {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    color: white;    
}
.header_menu a {
    color: white;

}
.menu_card {
    width: 20px;
    height: 20px;
}
.header_PreTitle {
    font-size: 30px;
    font-style: italic;
    text-align: center; 
}
.header_Title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.header_button {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: auto;
    border: 2px solid white;
    background: none;
    width: 100px;
    height: 30px;
    color: white;
}
.services {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.services_PreTitle{
    font-size: 15px;
    font-style: italic;
    text-align: center; 
    margin-bottom: 20px;
}
.services_Title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.line::after {
content: "";
display: block;
width: 20px;
height: 2px;
background-color: red;
margin: 10px auto 10px; 
}
.services_list {
    display: flex;
    flex-direction: column;
    width: 60%; 
    margin: auto;
}
.services_partList {
    display: flex;
    flex-direction: column;
}
.services_item {
    display: flex;
    margin-bottom: 20px; 
     
}
.services_item_photo {
    margin-right: 10px;
    width: 33px;
    height: 33px; 
}
.team {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.team_PreTitle {
text-align: center;
margin-bottom: 20px;
}
.team_Title {
text-align: center;
margin-bottom: 20px;
}
.team_description {
    text-align: center;
    margin-bottom: 20px;
}
.team_gallery_photo {
    max-width: 90%;    
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}
.team_gallery_img {
    width: 100%;
    display: block;
    
}
.team_box {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #e9828288, #f1db8a8e);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
}
.team_gallery_photo:hover .team_box {
opacity: 1;
transition: all 200ms linear;
box-shadow: 10px 10px #95e1d3;
}
.team_box_boxIcon {

    display: flex;
    justify-content: center; 
  
}
.boxIcon_icon {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    fill: #f38181;
    padding-top: 12px;
    padding-left: 16px; 
    
}
.boxIcon_icon:hover {
    background-color: #f38181;
    fill: #ffffff;  
}



@media (min-width: 768px) {
    .wrapper {
    max-width: 1024px;
}
.header {
    flex-direction: row; 
}
.header_menu {
flex-direction: row;
width: 60%;
}
.team_gallery {
    display: flex;
    justify-content: space-between;
}
.services_partList {
    flex-direction: row;
}
.services_item {
    margin-right: 10px;
}
.boxIcon_icon {
    width: 50px;
    height: 50px;
  
    
}
}
@media (min-width: 1024px) {
    .wrapper {
    max-width: 1400px;
}
.services_partList {
    flex-direction: column;
}
.services_list {
    flex-direction: row; 
}
.boxIcon_icon {
    width: 56px;
    height: 56px;}
  
    
}



