.header {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    /* background-color: lightpink; */
    /* height: 500px; */
}
.img {
    width: 69px;
    height: 69px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.firstClass {
    margin-bottom: 50px;
    
}
.secondClass {
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.title2 {
    font-size: 12px;
    margin-bottom: 20px;
 
   
}
.title1 {
    font-size: 40px;
    margin-bottom: 20px;

}
.but1 {
    font-size: 10px;
    background: none;
    width: 200px;
    height: 40px;
    border: 1px solid black 
    }
.section-Download {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text1 {
    font-size: 10px;
    color: white;
    
    margin: 0;
}
.but2 {
    font-size: 10px;
    background-color: white;
    border: none;
    border-radius: 30%;
    width: 150px;
    height: 40px;
    
}
.thirdClass {
    align-items: center;
    
}





















/* .firstClass {
    background-color: blueviolet;
    height: 40px;
}
.secondClass {
        background-color: rgb(223, 226, 43);
        height: 40px;

} */