* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

.wrapper {
    width: 751px;
    margin: auto;
}

header {
    padding-top: 27px;
    padding-bottom: 336px;
    background-image: url(../img/1/Single\ slide@1X.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.point1:not(:last-child) {
    margin-right: 30px;
}

.logo {
    margin-right: 53px;
    margin-left: 53px
}

a {
    text-decoration: none;
}

.section1 {
    width: 100%;
display: flex;
}

.section2 {
    background-image: url(../img/1/img\ studio\ bg@1X.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 192px;
    padding-top: 208px;
    width: 50%;
    
}

.text {
    padding-bottom: 37px;
    padding-top: 40px;
    max-width: 300px;
    border: 5px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    
}
.section3 {
    width: 50%;
    padding-bottom: 140px;
    padding-top: 91px;
    background-color: #f2efe5;
    padding-left: 85px;
    padding-right: 127px;
}
.pic {
    text-align: center;
    margin-bottom: 31px;
}
.text1 {
    margin-bottom: 32px;
    text-align: center;
    font-size: 18px;
}
.gallery {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
}
.item {
    width: 250px;
    height: 250px;
    /* flex-grow: 1; */
}
.item img {
    width: 100%;
}
