* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */

}
.wrapper {
    max-width: 934px;
    margin: auto;

}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 127px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 480px;
}
.menu a {
    text-decoration: none;
}
header {
    
    background-color: #ffffff;
}
.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 255);
    font-size: 40px;
    margin-bottom: 19px;

}
.text {
    color: rgba(119, 119, 119, 255);
    text-align: center;
    margin-bottom: 80px;
}
.Bigbox {
    display: flex;
    justify-content: space-between;
}
.box {
    text-align: center;
}
.icon1 {
    width: 68px;
    height: 68px;
    border: 3px solid #fed136;
    border-radius: 50%;
    padding-top: 12px;
    margin: auto;
    margin-bottom: 28px;
}
