* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
header {
    background-color: white;
    

}
.wrapper {
    max-width: 480px;
    margin: auto;
}
nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    
}
.first {
    background-image: url(../img/daft_punk_7-wallpaper-2880x1800@1X.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 270px;
    padding-bottom: 270px;
}
.first h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
}
.section2 {
    background-color: white;
}
.box1 {
    display: flex;
    flex-direction: column;

}



.text {
    padding: 20px 40px 20px 40px;

}
.photobox {
    width: 100%;
}
.littleBox h2 {
    margin-bottom: 10px;
}
.littleBox p {
    margin-bottom: 20px;
}
.music {
display: flex;
justify-content: space-between;
}
.quantity {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.BigBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.photoGal {
    width: 33.33%;
    height: 150px;
}
.BigBox img {
    width: 100%;
    height: 100%;
}
.insta {
    width: 300px;
    height: 120px;
    background-color: blue;
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.insta img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.insta p {
    text-align: center;
    font-size: 40px;
    color: white;
}
.gallery {
    position: relative;
}
@media (min-width: 768px) {
    .wrapper {
        max-width: 960px;
    }
    .box1 {
        flex-direction: row;
    }
    .littleBox {
        width: 50%;
    }
    .gallery {
        display: flex;
    }
    .BigBox {
        width: 50%;
    }
    .insta {
        display: block}
}
