* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
.section2 {
    background-color: #f6f5f3;
    padding-top: 138px;
    padding-bottom: 184px;
    position: relative;
    overflow: hidden;
}
.wrapper {
    width: 1120px;
    margin: auto;
    outline: 1px solid aqua;
}
.text1 {
    color: rgba(255, 109, 109, 255);
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px; 
}
.zag1 {
    font-size: 40px;
    color: rgba(40, 40, 40, 255);
    text-align: center;
    margin-bottom: 60px;
}
.boxBig {
    width: 100%;
    outline: 1px solid blue;
}
.img1 {
    width: 65px;
    height: 65px;
    margin: auto;
    margin-bottom: 30px;
}
.box1 {
    max-width: 342px;
    outline: 1px solid red;
    display: inline-block;
    
}
.box2 {
    margin-right: 43px;
}
.box3 {
    margin-right: -4px;
}
.text2 {
    color: rgba(40, 40, 40, 255);
    font-size: 22px;
    text-align: center;
    margin-bottom: 19px;
    font-weight: bold;
}
.text3 {
    color: rgba(40, 40, 40, 255);
    font-size: 20px;
    text-align: center;
}
.list {
    list-style: none;
}
.img2 {
    position: absolute;
    
}
.img3 {
    right: 84px;
    bottom: -130px; 
    
}
.img4 {
    right: 198px;
    top: -6px;

}
.img5 {
    left: 97px;
    top: -5px;
}
.section3 {
    background-color: white;
}
.box4 {
   width: 1000px;
   height: 1000px;
   background-color: blue;
   outline: green;
   position: relative;
}
.box5 {
    height: 500px;
    width: 500px;
    background-color: #ff8a8a;
    /* transform: rotate(45deg); */
    position: absolute;
    top: 0;
    /* left: -250px; */  
}
.box6 {
    padding-top: 141px;
    padding-bottom: 146px;
    padding-right: 211px;
}
.text4 {
    color: rgba(255, 109, 109, 255);
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px; 
}
