* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
.sect1 {
    background-image: url(../img/Background\ Image@1X.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    height: 100vh;
    
}
.wrapper {
    max-width: 480px;
    margin: auto;
}
.head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 60px;
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.sect1 p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.sect1 h1 {
    text-align: center;
    margin-bottom: 30px;
}
.sect1 button {
    display: block;
    margin: auto;
    width: 140px;
    height: 40px;
    background-color: #fed136;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
}
.sect2 {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.sect2 h2 {
    margin-bottom: 15px;
}
.sect2Text {
    margin-bottom: 30px;
}
.sect2icon {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin: auto;
    padding-top: 5px;
    /* display: flex; */
}
.sect2icon img {
    max-width: 70%;
    height: auto;
    
    /* display: block; */
    /* line-height: 50px; */
}
.sect2text1 {
    margin-bottom: 15px;
}
.sect2Litbox {
    margin-bottom: 15px;
}
.sect3 {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.gallery {
    display: flex;
    flex-direction: column;
}
.gallerybox {
    display: flex;
    flex-direction: column;
}
.galleryImg {
    max-width: 293px;
    height: 303px;
}
.galleryImg img {
    width: 100%;
}
.sect3 h2 {
    margin-bottom: 15px;
}
.galleryItem {
    margin: auto;
    margin-bottom: 20px;
}





@media {
    
}