* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(98, 98, 98, 255);
}
body {
  font-family: "Playfair Display", serif;
}
ul {
  width: max-content;
  margin: auto;
}
li {
  display: inline-block;
  margin: 40px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
}

.box1 {
  width: 1000px;
  margin: auto;
}
.upper {
  text-transform: uppercase;
}
.box2 {
  width: 400px;
}
div {
  display: inline-block;
  margin: 40px;
}
h2 {
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}
img {
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
button {
  padding: 21px 34px;
  font-size: 20px;
  background-color: white;
  font-family: "Playfair Display", serif;
  border: 1px solid black;
  margin-bottom: 20px;
}
