/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
.wrapper {
  max-width: 480px;
  margin: auto;
}
.sect1 {
  background-image: url(../img/Fon_mobile.png);
  background-color: #6d6d6c;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 21px;
  padding-bottom: 139px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.login a:hover {
  border: 2px solid rgba(255, 255, 255, 255);
  border-radius: 25%;

  padding: 10px 18px 10px 18px;
}
.log {
  margin-right: 20px;
}

.login {
  margin-bottom: 115px;
}
.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
header {
  margin-bottom: 38px;
}
h1 {
  font-size: 30px;
  color: rgba(255, 255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 19px;
}
.sect1 p {
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  max-width: 220px;
  margin: auto;
  margin-bottom: 19px;
}
button {
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: auto;
}
.sect1 button {
  background-color: #ff4e50;
}
.sect2 {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #ffffff;
  text-align: center;
  width: 90%;
}
.sect2 h2 {
  margin-bottom: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: rgba(51, 51, 51, 255);

}
.text1 {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(51, 51, 51, 255);
}
.text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 255);
  }
.LitBox {
  margin-bottom: 28px;
  height: 50%;
}
.photo img {
  border-radius: 50%;
}
.photo {
  position: relative;
  width: 122px;
  height: 122px;
  margin: auto;
  margin-bottom: 20px;
}
.icon {
  position: absolute;
  width: 33px;
  height: 33px;
  border: 3px solid white;
  border-radius: 50%;
  line-height: 33px;
  bottom: 0;
  right: 0;
}
.red {
  background-color: #ff4e50;
}
.orange {
  background-color: #ffa507;
}
.green {
  background-color: #1cd7ad;
}
.blue {
  background-color: #4e73db;
}
.sect2 button {
  background-color: #ffffff;
  border: 3px solid #ff4e50;
  color: #ff4e50;
}
.BigBox {
  display: flex;
  flex-direction: column;
}
.HalfBox {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 968px;
  }
  .sect1 {
    background-image: url(../img/Fon_DT.png);
    padding-top: 46px;
    padding-bottom: 234px;
  }
  .menu {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .login {
    margin-bottom: 0;
  }
  header {
    width: 90%;
    margin: auto;
    margin-bottom: 160px;
  }
  h1 {
    font-size: 52px;
    max-width: 505px;
  }
  .sect1 p {
    font-size: 24px;
    max-width: 400px;
  }
  button {
    max-width: 250px;
  }
  .sect2 {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 70%;
  }
  .sect2 h2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .LitBox {
    width: 50%;
  }
  .HalfBox {
    flex-direction: row;

    /* margin: auto; */
  }

  .BigBox {
    margin-bottom: 10px;
  }
  .LitBox:not(:last-child) {
    margin-right: 51px;
  }

  /* .BigBox {
          flex-direction: row;         
      }
      .HalfBox {
          width: 50%;
      }
      .sect2 h2 {
        margin-bottom: 30px;
      }
      .LitBox {
          height: 50%;
      } */
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1440px;
  }
  header {
    width: 80%;
  }
  .BigBox {
    flex-direction: row;
    justify-content: space-between;
  }
  .HalfBox {
    width: 50%;
  }
  .HalfBox:not(:last-child) {
    margin-right: 37px;
  }
  .LitBox:not(:last-child) {
    margin-right: 37px;
  }
}
